@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

.writer {
    position: relative;
    /*width: max-content;*/
    font-family: 'Ubuntu Mono', monospace;
}

.writer::before, 
.writer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.writer::before {
    background-color: inherit;
    animation: typewriter var(--speed) steps(var(--steps)) var(--delay) forwards;
}

.writer::after {
    width: .125em;
    background-color: white;
    animation: typewriter var(--speed) steps(var(--steps)) var(--delay) forwards,
        cursor-blink var(--blink-speed) ease-in-out infinite;
}

@keyframes typewriter {
    to {
       left: 100%; 
    }
}

@keyframes cursor-blink {
    to {
        background-color: transparent;
    }
}